// Milk
$color-milk-100: #F3F3F0;
$color-milk-200: #E7E7E2;
$color-milk-300: #AFAFA8;
$color-milk-400: #9F9F90;
$color-milk-500: #8F8F80;

// Greys
$color-grey-100: #EEEEEE;
$color-grey-200: #BFBFBA;
$color-grey-300: #72726E;
$color-grey-400: #5D5D55;
$color-grey-500: #4A4A48;

// Mint
$color-mint-100: #A6EFED;
$color-mint-200: #9AE0DE;
$color-mint-300: #8FD8D6;
$color-mint-400: #85C9C7;
$color-mint-500: #80C4C2;

// Rose
$color-rose-100: #EB95AF;
$color-rose-200: #E08DA6;
$color-rose-300: #D97B98;
$color-rose-400: #D87291;
$color-rose-500: #D36184;

// Navy
$color-navy-100: #5680A1;
$color-navy-200: #597992;
$color-navy-300: #4B7392;
$color-navy-400: #4A6479;
$color-navy-500: #2D4457;

// Green
$color-green-100: #8AF8EF;
$color-green-200: #62D6C6;
$color-green-300: #37C3B0;
$color-green-400: #1B7569;
$color-green-500: #003333;